In [1]:
import numpy as np
import pandas as pd

In [2]:
video_concept = pd.read_csv("./KA_DATA/my_video_concept.csv",header=None,sep= ' ')
course_concept = pd.read_csv("./KA_DATA/my_course_concept.csv",header=None,sep= ' ')
course_video = pd.read_csv("./KA_DATA/my_course_video.csv",header=None,sep= ' ')
school_course = pd.read_csv("./KA_DATA/my_school_course.csv",header=None,sep= ' ')
school_teacher = pd.read_csv("./KA_DATA/my_school_teacher.csv",header=None,sep= ' ')
teacher_course = pd.read_csv("./KA_DATA/my_teacher_course.csv",header=None,sep= ' ')
concept_paper = pd.read_csv("./KA_DATA/my_concept_paper.csv",header=None,sep= ' ')

In [3]:
columns1 = ["video", "concept"]
columns2 = ["course", "concept"]
columns3 = ["course", "video"]
columns4 = ["school", "course"]
columns5 = ["school", "teacher"]
columns6 = ["teacher", "course"]
columns7 = ["concept", "paper"]
# 必须整体全部修改
video_concept.columns = columns1
course_concept.columns = columns2
course_video.columns = columns3
school_course.columns = columns4
school_teacher.columns = columns5
teacher_course.columns = columns6
concept_paper.columns = columns7

In [4]:
video_concept.sort_values(by = "concept")
course_video.sort_values(by = "course")

     course  video
376      14      0
459      14     83
458      14     82
457      14     81
456      14     80
..      ...    ...
371     696   1382
372     696   1383
373     696   1384
375     696   1386
918     696   1399

[1591 rows x 2 columns]

In [5]:
video_concept_paper = pd.merge(video_concept, concept_paper, how='left', on=["concept"])
video_course_teacher = pd.merge(course_video, teacher_course, how='left', on=["course"])
video_course_school = pd.merge(course_video, school_course, how='left', on=["course"])
print(np.any(video_concept_paper.isnull()),np.any(video_course_teacher.isnull()),np.any(video_course_school.isnull())) 
# 找出有空缺值的行
# print(video_concept_paper[video_concept_paper.isnull().T.any()])

#删除空行
video_concept_paper = video_concept_paper.dropna()
video_course_teacher = video_course_teacher.dropna()
video_course_school = video_course_school.dropna()
#删除缺失行
video_concept_paper = video_concept_paper.dropna() 
video_course_teacher = video_course_teacher.dropna() 
video_course_school = video_course_school.dropna() 

print(np.any(video_concept_paper.isnull()),np.any(video_course_teacher.isnull()),np.any(video_course_school.isnull()))

True True False
False False False

In [6]:
# 去掉video,paper中的重复部分
video_paper=set()
for video,paper in zip(video_concept_paper["video"],video_concept_paper["paper"]):
    video_paper.add((video,paper)) 
print(len(video_paper))

video_teacher=set()
for video,teacher in zip(video_course_teacher["video"],video_course_teacher["teacher"]):
    video_teacher.add((video,teacher)) 
print(len(video_teacher))

video_school=set()
for video,school in zip(video_course_school["video"],video_course_school["school"]):
    video_school.add((video,school)) 
print(len(video_school))

32321
2705
1242

In [7]:
# 写入文件
# user:4723, course:706, video:1401, concept:700, teacher:1733, school:194, paper:5927
filename = './KA_DATA/mooc_kg_video.csv'
with open(filename,'w') as object:
    for i,j in zip(video_concept["video"],video_concept['concept']):
        object.write(str(i) + "\t0\t" + str(j+1401))        # video - 0 - concept
        object.write('\n')
    for i,j in zip(course_video["video"],course_video["course"]):
        object.write(str(i ) + "\t1\t" + str(j + 700 + 1401))        # course - 1 - video
        object.write('\n')
        
    for i,j in zip(course_concept["course"],course_concept['concept']):
        object.write(str(i + 700 + 1401) + "\t2\t" + str(j + 1401))        # course - 2 - concept
        object.write('\n')
    for i,j in zip(teacher_course["teacher"],teacher_course["course"]):
        object.write(str(i + 700+ 1401 + 706) + "\t3\t" + str(j + 700+ 1401))                    # teacher - 3 - course
        object.write('\n')  
        
    for i,j in zip(school_course["school"],school_course["course"]):
        object.write(str(i + 700+ 1401 + 706 + 1733) + "\t4\t" + str(j + 700+ 1401))                    # school - 4 - course
        object.write('\n')
        
    for i,j in zip(school_teacher["school"],school_teacher["teacher"]):
        object.write(str(i + 700+ 1401 + 706 + 1733) + "\t5\t" + str(j + 700 + 1401 + 706))                    # school - 5 - teacher
        object.write('\n')

    for i,j in video_paper:
        object.write(str(i) + "\t6\t" + str(int(j) + 700+ 1401 + 706 + 1733 + 194))                    # video - 7 - paper
        object.write('\n')
    for i,j in video_teacher:
        object.write(str(i) + "\t7\t" + str(int(j) + 700+ 1401 + 706))                    # video - 8 - teacher
        object.write('\n')
    for i,j in video_school:
        object.write(str(i) + "\t8\t" + str(j + 700+ 1401 + 706 + 1733))                    # video - 9 - school
        object.write('\n')
    for i,j in zip(concept_paper["concept"],concept_paper['paper']):
        object.write(str(i + 1401) + "\t9\t" + str(j + 700+ 1401 + 706 + 1733 + 194))                    # concept -10 - paper
        object.write('\n')