In [1]:
import numpy as np
import pandas as pd

In [2]:
Ratings = pd.read_csv("./Book_data/new_data/Ratings_5.csv", sep = ' ')

In [3]:
Ratings = Ratings.sort_values(by="User-ID")
Ratings

      User-ID   ISBN  Book-Rating
1167        0     62            8
1168        0     63            8
1169        0     64            7
1170        0     66            6
1171        0     67           10
...       ...    ...          ...
1162    10739   6950            7
1163    10739   4045            7
1164    10739  62091            7
1165    10739  53165            6
1166    10739   2698            8

[247628 rows x 3 columns]

In [10]:
import random
user = set()
for i in Ratings['User-ID']:
    user.add(i)
random.shuffle(list(user))
user = list(user)
len(user)

10740

In [6]:
#  每个组3-5人
groupID = []
groupMemberOne = []
groupMember = []
j = np.random.randint(3,6)
C_groupID = 0
C_len =0
for i in range(len(user)):
    C_len += j
    if j > 1:  
        j -= 1
        groupMemberOne.append(user[i] )
    elif j == 1:
        groupMemberOne.append(user[i] )
        groupMember.append(groupMemberOne)
        groupMemberOne =[]
        j = np.random.randint(3,6)
#         print(j)
        groupID.append(C_groupID)
        C_groupID += 1
    
if C_len > len(user) and groupMemberOne is not None:
    groupMember.append(groupMemberOne)
    C_groupID += 1
    groupID.append(C_groupID)

In [7]:
print("组的个数：",len(groupMember))
groupMember[-20:]

组的个数： 2676

[[10657, 10658, 10659],
 [10660, 10661, 10662],
 [10663, 10664, 10665, 10666],
 [10667, 10668, 10669, 10670, 10671],
 [10672, 10673, 10674],
 [10675, 10676, 10677, 10678],
 [10679, 10680, 10681, 10682, 10683],
 [10684, 10685, 10686, 10687],
 [10688, 10689, 10690, 10691],
 [10692, 10693, 10694, 10695],
 [10696, 10697, 10698, 10699, 10700],
 [10701, 10702, 10703, 10704],
 [10705, 10706, 10707],
 [10708, 10709, 10710, 10711, 10712],
 [10713, 10714, 10715, 10716],
 [10717, 10718, 10719, 10720, 10721],
 [10722, 10723, 10724, 10725],
 [10726, 10727, 10728, 10729, 10730],
 [10731, 10732, 10733, 10734, 10735],
 [10736, 10737, 10738, 10739]]

In [8]:
filename = './Book_data/KA_Book/moocgroupMember_u_v.csv'
GroupID = 0
count = 0
with open(filename,'w') as object:
    for i in groupMember:
        object.write(str(GroupID)+" ")
        count=0
        for j in i:
            c = len(i)
            count+=1
            if count < c:
                object.write(str(j))
                object.write(',')
            else:
                object.write(str(j))
        GroupID+=1
        object.write('\n')

In [9]:
groupMembe = pd.read_csv("./Book_data/KA_Book/moocgroupMember_u_v.csv",header=None,sep =' ')
groupMembe

         0                              1
0        0                      0,1,2,3,4
1        1                      5,6,7,8,9
2        2                    10,11,12,13
3        3                    14,15,16,17
4        4                 18,19,20,21,22
...    ...                            ...
2671  2671  10717,10718,10719,10720,10721
2672  2672        10722,10723,10724,10725
2673  2673  10726,10727,10728,10729,10730
2674  2674  10731,10732,10733,10734,10735
2675  2675        10736,10737,10738,10739

[2676 rows x 2 columns]